<%= simple_form_for([:admin, @admin_subject]) do |f| %>
  <%= f.error_messages %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.association :parent,  :collection => Subject.where("course_category_id=#{@course_category.id}") %>
    <%= f.input  :course_category_id,  :as=>:hidden, :input_html => { :value => @course_category.id } %>
  </div>

  <div class="actions">
    <%= f.button :submit, :class=>"ml140" %>
  </div>
<% end %>
