<%= button_to t(:new, :scope=>[:common]), new_admin_subject_path, :method=>:get, :class=>"miniBtn left ml20 mt10" %>


<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Parent</th>
    <th>Course category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_subjects.each do |admin_subject| %>
  <tr>
    <td><%= admin_subject.id %></td>
    <td><%= admin_subject.name %></td>
    <td><%= admin_subject.parent_id %></td>
    
    <td>
      <% if admin_subject.course_category %>
        <%= admin_subject.course_category.name %>
      <% end %>
    </td>
    
    <td><%= link_to 'Show', [:admin, admin_subject] %></td>
    <td><%= link_to 'Edit', edit_admin_subject_path(admin_subject) %></td>
    <td><%= link_to 'Destroy', [:admin, admin_subject], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

