<% content_for :nav_bar  do %>
  <%= link_to "首页", root_path %> >>
  <%= @course_category.name %>  >>
  <%= t("New") %>
<% end %>

<h1>New admin_subject</h1>

<%= render 'form' %>

<%= link_to 'Back', admin_course_category_path(@course_category) %>
