<h1 class="blue-title">
<%= @admin_subject.course_category.name %> >> 
<%= @admin_subject.name %>
</h1>

<div style="margin-left: 50px;">
  <ul style="list-style: square inside none;margin-left: 15px;">
    <% @courses.each do |c| %>
      <li> 
      <%= link_to c.name, admin_course_path(c) %>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to 'Create Course', new_admin_course_path(:category_id=>@course_category, :subject_id=>@admin_subject) %>
<%= link_to 'Back', admin_course_category_path(@course_category) %>
