<%= form_for (@forum) do |f| %>
	<div class="field">
		<%= f.label "标题" %>
		<%= f.text_field :name, {:size=>50} %>
	</div>
	<div class="field">
		<%= f.label "介绍"  %>
		<%= f.text_area :description, {:rows=>6,:cols=>80} %>
	</div>
	<div class="field">
		<%= f.label "优先级" %>
		<%= select :forum, :priority, Forum::PRIORITY %>
	</div>

	<div class="actions">
		<%= f.submit "提交", :class=>"submit_action" %>
	</div>
<% end %>

