<div class="forums">
  <% @forums.each do |forum| %>

    <div class="forum-entry">
      <hr/>

      <p class="image">
      <img src="/images/forum.gif" width="30"/>
      </p>
      <div class="info">
        <span class="name">
          <%= link_to forum.name, forum_path(forum) %>
          <span class="admin">
            <%= link_to "删除", forum_path(forum),:method=>:delete, :confirm=>"Are you sure to delete?" %>
            <%= link_to "编辑", edit_forum_path(forum) %>
          </span>
        </span>
        <span class="description"><%= forum.description %></span>
      </div>
      <div class="count-info">
        1/10
      </div>

      <div class="last-info">
        <% if forum.topics.count > 0 %>
          <% last_topic = forum.topics.last %>
          <span class="name"><%= link_to last_topic.name, forum_topic_path(forum, last_topic) %></span>
          <span class="time"><%= last_topic.created_at %></span>
        <% else %>
          <span class="name">尚未有帖子</span>
          <span class="time">XXX 作者</span>
        <% end %>
      </div>

    </div>
  <% end %>
</div>

<%= button_to "新建板块", new_forum_path, :method=>:get %>
