<% content_for  :sidebar do %>
  <%= render  "category" %>
<% end %>

<div class="right">
  <%= button_to	'发帖子', new_forum_topic_path(@forum), :method=>:get %>
</div>

<% @topics.each do |topic| %>
  <div class="topic-entry">
    <div class="answers">
      <span><%= topic.forum_posts.size %></span>
      <em>Answers</em>
    </div>
    <div class="views">
      <span><%= topic.views %></span>
      <em>&nbsp;&nbsp;Views&nbsp;&nbsp;</em>
    </div>
    <div class="info">
      <div class="name">
        <%= link_to topic.name, forum_topic_path(@forum, topic) %>
        <span class="edit">
          <%= link_to "删除", forum_topic_path(@forum, topic), :method=>:delete, :confirm=>"are you sure to delete?" %>
        </span>
      </div>
      <div class="last-info">
        <span class="left">
          Tags: 大家一起读原版 Justice
        </span>
        <span class="right">
          <%= time_ago_in_words(topic.created_at) %>以前
          发帖人: <%= link_to topic.user.profile.name, profile_path(topic.user)%>
          金币: <%= topic.gold %> <%= image_tag "ico_money.gif" %>
          回答: <%= topic.forum_posts.count %>
        </span>
      </div>
    </div>
  </div>
<% end %>
