<% @blog.tags.build %>

<%= form_for (@blog) do |blog_form| %>
  <% if @blog.errors.any? %>
    <div id="errorExplanation">
      <h2>一共有 <%= @blog.errors.count %> 个错误:</h2>
      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= blog_form.label "标题" %>
    <%= blog_form.text_field :title, {:size=>50} %>
  </div>
  <div class="field">
    <%= blog_form.label "摘要"  %>
    <%= blog_form.text_area :summary, {:rows=>5,:cols=>80} %>
  </div>
  <div class="field">
    <%= blog_form.label "正文" %>
    <%= blog_form.text_area :content, {:rows=>12,:cols=>80} %>
  </div>

  <h2>Tags</h2>
  <%= blog_form.label	"Tag"%>
  <%= blog_form.text_field	:tag_list %>

    <div class="actions">
      <%= blog_form.submit %>
    </div>
  <% end %>
