<% content_for :header do %>
  <%= stylesheet_link_tag	"sns" %>
<% end %>


<div class="box_threequarter">
  <h1 class="blue-title mb10"><%= t(".blog_list") %></h1>

  <ul id="bloglist">	
    <% @blogs.each do |blog| %>
      <li>
      <div class="blog-entry">
        <p class="image">
        <img src="/images/male.gif" width="48"/>
        </p>
        <div class="info">
          <h4><%= link_to blog.title, blog %></h4>
          <span class="author"><%= blog.user.profile.name %></span>
          <span class="time"><%= time_ago_in_words(blog.created_at) %>
            <%= t(:ago, :scope=>[:view]) %></span>
        </div>
        <div class="summary">
          <p>
          <%= raw(blog.content) %> 
          </p>
        </div>
        <p class="stat">
        <%= t(".read_count", :count=>blog.readcount) %>
        <span class="pipe">|</span>
        <%= t(".comment_count", :count=>blog.comments.count) %>
        <span class="pipe">|</span>
        <%= link_to  t(".reply"), blog_path(blog) %>					
        </p>
      </div>
      </li>
    <% end %>
  </ul>

  <%= will_paginate @posts %>
</div>

<div class="box_onequarter">
  <%= link_to "+ 新建日记", new_blog_path, :class=>"miniBtn ml10" %> 

  <div class="box ml10 mt10" style="width: 80%">
    <h3 class="blue-title">标签云</h3>
    <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
      <%= tag.name %>
    <% end %>
  </div>
</div>
