<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
  <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
<% end %>

<h1 id="博客列表">博客列表</h1>

<ul id="bloglist">	
  <% @blogs.each do |blog| %>
    <li>
    <div class="blog-entry">
      <p class="image">
      <img src="/images/male.gif" width="48"/>
      </p>
      <div class="info">
        <h4><%= link_to blog.title, blog %></h4>
        <span class="author">wuhy</span>
        <span class="time">3miao</span>
      </div>
      <div class="summary">
        <p>
        <%= blog.content %> 
        </p>
      </div>
      <p class="stat">阅读 <%= blog.readcount %>
      <span class="pipe">|</span>
      评论 <%= blog.comments.count %>
      <span class="pipe">|</span>
      <%= link_to   "发表评论", blog_path(blog) %>					
      </p>
    </div>
    </li>
  <% end %>
</ul>

<br/>
<%= will_paginate @posts %>

<%= link_to	"新建日记",	new_blog_path %>
