<% content_for :header do %>
  <%= stylesheet_link_tag	"sns" %>
<% end %>

<% content_for :sidebar do %>
  <%= render	"/shared/application" %>
<% end %>

<h1 id="heading"><%= t(".create_blog") %></h1>

<%= render  'form' %>

<%= link_to t(".go_back"), blogs_path %>
