<% content_for :header do %>
  <%= stylesheet_link_tag	"sns" %>
<% end %>

<div class="blog-entry na">
  <div class="info">
    <h4><%= @blog.title %>
      <span style="float:right;">
        <span style="margin-right:0;">
          <img src="/images/ding.gif" 
          align="absmiddle">(<span style="margin-right:0;" 
            id="dig-good-41975">0</span>)</span>
        <span style="margin-right:0;">
          <img src="/images/cai.gif" 
          align="absmiddle">(<span style="margin-right:0;" 
            id="dig-good-41975">0</span>)</span>
      </span>
    </h4>
    <span class="time"><%= l(@blog.updated_at) %></span>
    <span class="pipe">|</span>
    <%= link_to t(".edit"), edit_blog_path(@blog) %>
    <span class="pipe">|</span>
    <%= link_to t(".destroy"), blog_path(@blog), :method=>:delete,
      :confirm=>t(".confirm_msg", :name=>@blog.title) %>
    </div>
    <div class="content">
      <%= raw @blog.content %>
    </div>
    <p class="stat">
    <%= t(".read_count", :count=>@blog.readcount) %>
    |
    <%= t(".comment_count", :count=>@blog.comments.count) %>
    </p>
  </div>

  <ol id="comments">
    <%= render  @blog.comments %>
  </ol>

  <h2 class="blue-title mt20 mb10">添加留言</h2>
  <%= render  :partial=>"comments/form" %>
