<li class="comment" display="none" id="comment_<%= comment.id %>">
<div class="post parent-post">
  <p class="image">
  <%= link_to image_tag("male.gif", :height=>48, :width=>48), blog_comment_path(comment.blog, comment) %>
  </p>
  <div class="info">
    <span class="author"></span>
    <span class="time"><%= time_ago_in_words(comment.updated_at) %> ago</span>
    <span class="delete">
      <%= link_to '删除', blog_comment_path(comment.blog, comment), :method=>:delete,
					:remote=>true, :class=>"Qconfirm" %>
  </span>									</div>
  <div class="content">
    <div><%= comment.memo %></div>
  </div>
</div>
</li>
