<div id="p-detail" style="height:140px;">
  <div class="left">
    <div class="limg" title="<%= current_user.profile.name %>">
      <%= link_to	image_tag("male.gif",:width=>120, :height=>120), profile_path(current_user) %>
    </div>
  </div>

  <div>
    <div style="height: 22px">
    <div style="width:180px;" class="left">
      <span class="left">
        <%= t(:english_name, :scope=>[:view, :personal, :_personal_info]) %>
      </span>
      <%= current_user.profile.english_name %>
    </div>
    <div style="width:180px;" class="left">
      <span class="left">
        <%= t(:chinese_name, :scope=>[:view, :personal, :_personal_info]) %>
      </span>
      <%= current_user.profile.name %>
    </div>
    </div>

    <div style="height: 22px;">
    <span class="left">
      <%= t(:sex, :scope=>[:view, :personal, :_personal_info]) %>
    </span>
    <%= sex_display(current_user.profile.sex) %>
    </div>

    <div style="height: 22px;">
    <span><%= t(:hometown, :scope=>[:view, :personal, :_personal_info]) %>
    </span>
    <%= current_user.profile.home_province %> <%= current_user.profile.home_city %>
    </div>

    <div style="height: 22px;">
    <span><%= t(:current_location, :scope=>[:view, :personal, :_personal_info]) %>
    </span><%= current_user.profile.address %>
    </div>

    <div style="height: 22px;">
    <span><%= t(:gold, :scope=>[:view, :personal, :_personal_info]) %> </span>
    <%= current_user.gold %> <%= image_tag	"ico_money.gif" %>
    </div>
  </div>
</div>
