<div id="sidebar">
  <div class="logindiv">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div>
        <%= f.label :email, :class=>"tar left mt30", :style=>"width:55px;" %>
        <%= f.text_field :email, :class=>"left mt30 mb10", :size=>22 %>
      </div>

      <div>
        <%= f.label :password, :class=>"tar left", :style=>"width:55px;margin-top:5px;" %>
        <%= f.password_field :password, :style=>"margin-top:5px", :size=>22 %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div style="clear:both;margin-left:55px;">
          <%= f.check_box :remember_me, :class=>"left" %>  
          <%= f.label :remember_me, :class=>"left" %>
        </div>
      <% end -%>

      <div class="field" style="clear:both;margin-left:55px;">
        <%= f.submit "登录" %> 
      </div>
    <% end %>
    <!--
    <div style="background:url(http://img1.kaixin001.com.cn/i/index_app.gif) 
      repeat-x;width:190px;margin:20px auto 15px 7px;height:2px;"></div>

    <div class="field" style="margin-left:30px">
      <%= t(:message_not_registered, :scope=>[:view, :users, :sessions, :new]) %>
    </div>
    <div class="field" style="margin-left:30px">
      <%= link_to	"立即注册", new_user_registration_path %>
    </div>
    -->
  </div>
</div>

<div id="main" style="width:773px;margin-left:-3px;">
  <div id="introduce">
    <span style="font:bold 20px '黑体'; color:#D01E3B;">
      <%= t(:title, :scope=>[:view,:users,:sessions,:new]) %>
    </span>
    <div style="width:480px">
      <%= t(:description, :scope=>[:view,:users,:sessions,:new]) %>
    </div>
  </div>

  <div class="video-introduce left" style="margin-left:auto;margin-right:auto;width:100%;margin-top:220px;">
    <div class="left box" style="margin-left:180px;">
      <H2 class="tac">关于MEET</H2>
      <div style="margin:5px;">
        <embed src="http://www.flash8.net/uploadflash/60/flash8net_59786.swf"  type="application/x-shockwave-flash" 
        width="120" height="80" play="false" allowNetworking="all"></embed>
      </div>
    </div>
    <div class="right box" style="margin-right:180px;">
      <H2 class="tac">About MEET</H2>
      <div style="margin:5px;">
        <embed src="http://www.flash8.net/uploadflash/60/flash8net_59756.swf" type="application/x-shockwave-flash" 
        width="120" height="80" play="false" allowNetworking="all"></embed>
      </div>
    </div>
  </div>
</div>


