<div id="sidebar">
  <div class="m1t"></div>
  <div class="logindiv">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div>
        <%= f.label "email", :class=>"tar left", :style=>"width:55px;margin-top:35px;" %>
        <%= f.text_field :email, :class=>"left mt30 mb10", :size=>22 %>
      </div>

      <div>
        <%= f.label "password", :class=>"tar left", :style=>"width:55px;margin-top:5px;" %>
        <%= f.password_field :password, :style=>"margin-top:5px", :size=>22 %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div style="clear:both;margin-left:55px;">
          <%= f.check_box :remember_me, :class=>"left" %>  
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="field" style="clear:both;margin-left:55px;">
        <%= f.submit "登录" %> 
      </div>
    <% end %>

    <div style="background:url(http://img1.kaixin001.com.cn/i/index_app.gif) 
      repeat-x;width:190px;margin:20px auto 15px 7px;height:2px;"></div>

    <div class="field" style="margin-left:30px">
      尚未开通MEET账户?	
    </div>
    <div class="field" style="margin-left:30px">
      <%= link_to	"立即注册", new_user_registration_path %>
    </div>
  </div>
</div>

<div id="main" style="width:773px;margin-left:-3px;">
  <div id="introduce">
    <span style="font:bold 20px '黑体'; color:#D01E3B;">MEET</span>
    <div style="width:480px">使用会话(session)和viminfo，可以把你编辑环境保存下来，然后你在下次启动vim后，可以再恢复回这个环境。我们在开发项目或书写文档时，其周期不是一两天。如果你在中途退出了vim而不能恢复原先的编辑环境的话，你又要重新打开你所打开的文件，重新定义你的映射(map)、缩写 (abbreviate)，</div> 
  </div>

  <div class="video-introduce mt30">
    <div class="left" style="margin:20px">
      <video height="270" class="player" poster="/images/male.gif" src="/videos/first.mp4" width="320">
    </div>
    <div class="left" style="margin:20px">
      <video height="270" class="player" poster="/images/male.gif" src="/videos/first.mp4" width="320">
    </div>
  </div>
</div>


<script type="text/javascript">
  $('.player').jwplayer({
flashplayer:'/javascripts/player.swf',
skin:'five/five.xml'
});
</script>
