<div class="sidebar-list">
  <h3>管理</h3>
  <ul>
    <li class="notready">
    <%= image_tag "college.png" %>
    <%= link_to "School", admin_schools_path %>
    </li>

    <li class="notready">
    <%= image_tag "college.png" %>
    <%= link_to "Role", admin_roles_path %>
    </li>

    <li class="notready">
    <%= image_tag "college.png" %>
    <%= link_to "CourseCategory", admin_course_categories_path %>
    </li>

    <li>
    <%= image_tag "college.png" %>
    <%= link_to "User", admin_users_path %>
    </li>

    <li>
    <%= image_tag "college.png" %>
    <%= link_to "Course", admin_courses_path %>
    </li>

    <li>
    <%= image_tag "college.png" %>
    <%= link_to "Friendships", admin_friendships_path %>
    </li>

    <li>
    <%= image_tag "college.png" %>
    <%= link_to "Forum",  admin_forums_path %>
  </ul>
</div>
