<div class="sidebar-list">
  <h3>管理</h3>
  <ul>
    <li class="notready">
    <%= image_tag "college.png" %>
    <%= link_to "School", admin_schools_path %>
    </li>
  </ul>

  <ul>
    <li class="notready">
    <%= image_tag "college.png" %>
    <%= link_to "Subject", admin_subjects_path %>
    </li>
  </ul>

  <ul>
    <li class="notready">
    <%= image_tag "college.png" %>
    <%= link_to "Role", admin_roles_path %>
    </li>
  </ul>

  <ul>
    <li class="notready">
    <%= image_tag "college.png" %>
    <%= link_to "CourseCategory", admin_course_categories_path %>
    </li>
  </ul>

  <ul>
    <li class="notready">
    <%= image_tag "college.png" %>
    <%= link_to "User", admin_users_path %>
    </li>
  </ul>
</div>
