<div class="sidebar-list">
  <h3><%= t(:title, :scope=>[:view, :shared, :_application]) %></h3>
  <ul>
    <!--
    <li class="notready">
    <%= image_tag "college.png" %>
    <%= link_to t(:group, :scope=>[:view, :shared, :_application]), "" %>
    </li>
    -->

    <li>
    <%= image_tag "college.png" %>
    <%= link_to	t(:friend, :scope=>[:view, :shared, :_application]), people_path %>
    </li>

    <li class="notready">
    <%= image_tag "college.png" %>
    <%= link_to	t(:gift, :scope=>[:view, :shared, :_application]), "" %>
    </li>

    <!--
    <li class="notready">
    <%= image_tag "college.png" %>
    <%= link_to	t(:crowdsouring, :scope=>[:view, :shared, :_application]), blogs_path %>
    </li>
    -->

    <li class="notready">
    <%= image_tag "college.png" %>
    <%= link_to t(:bidding, :scope=>[:view, :shared, :_application]), "" %>
    </li>

    <!--
    <li class="notready">
    <%= image_tag "college.png" %>
    <%= link_to	t(:groupon, :scope=>[:view, :shared, :_application]), blogs_path %>
    </li>

    <li class="notready">
    <%= image_tag "college.png" %>
    <%= link_to	t(:vote, :scope=>[:view, :shared, :_application]), blogs_path %>
    </li>
    -->

    <li>
    <%= image_tag "college.png" %>
    <%= link_to	t(:blog, :scope=>[:view, :shared, :_application]), blogs_path %>
    </li>

    <li class="notready">
    <%= image_tag "college.png" %>
    <%= link_to	t(:video, :scope=>[:view, :shared, :_application]), blogs_path %>
    </li>

    <li class="notready">
    <%= image_tag "college.png" %>
    <%= link_to	t(:music, :scope=>[:view, :shared, :_application]), blogs_path %>
    </li>
  </ul>
</div>
