<div class="sidebar-list">
  <h2>应用程序</h2>
  <ul>
    <li class="notready">
    <%= image_tag "college.png" %>
    <%= link_to "群", "" %>
    </li>

    <li>
    <%= image_tag "college.png" %>
    <%= link_to	"好友", people_path %>
    </li>

    <li class="notready">
    <%= image_tag "college.png" %>
    <%= link_to	"礼物", people_path %>
    </li>

    <li class="notready">
    <%= image_tag "college.png" %>
    <%= link_to	"专家解答", blogs_path %>
    </li>


    <li class="notready">
    <%= image_tag "college.png" %>
    <%= link_to "互动竞价", "" %>
    </li>

    <li class="notready">
    <%= image_tag "college.png" %>
    <%= link_to	"团购", blogs_path %>
    </li>

    <li class="notready">
    <%= image_tag "college.png" %>
    <%= link_to	"投票", blogs_path %>
    </li>

    <li>
    <%= image_tag "college.png" %>
    <%= link_to	"博客", blogs_path %>
    </li>
  </ul>
</div>
