<div style="padding:3px;" class="left">
  <div style="padding-left:18px">
    <%= link_to image_tag("logo.gif"), root_path %> 
  </div>
</div>

<div id="app-menu">
  <ul>
    <%= render  "/shared/nav_menu" %>
  </ul>
</div>

<div id="info-panel">
  <ul>
    <li class="notready">
    <%= link_to raw(t(:referral, :scope=>[:view, :shared, :_header])), new_user_session_path %>
    </li>
    <li class="t_bar"></li>
    <li>
    <%= link_to	raw(t(:my_meet, :scope=>[:view, :shared, :_header])), personal_path() %>
    </li>
    <li class="t_bar"></li>
    <li class="notready">
    <%= link_to raw(t(:contact_us, :scope=>[:view, :shared, :_header])), new_user_session_path %>
    </li>
    <li class="t_bar"></li>
    <li class="notready">
    <%= link_to	raw(t(:faq, :scope=>[:view, :shared, :_header])), profile_path(current_user) %></li>
    <li class="t_bar"></li>
    <li>
    <%= link_to	raw(t(:logout, :scope=>[:view, :shared, :_header])), destroy_user_session_path %></li>
  </ul>
</div> 
