<li class="t_title">
<%= link_to raw(t(:home, :scope=>[:view, :shared, :_nav_menu])), courses_path, :class=>"t_link" %>
<li class="t_bar"></li>

<li class="t_title">
<%= link_to	raw(t(:bbs, :scope=>[:view, :shared, :_nav_menu])), forums_path, :class=>"t_link" %></li>
<li class="t_bar"></li>

<li class="t_title notready">
<%= link_to	raw(t(:chat_room, :scope=>[:view, :shared, :_nav_menu])), courses_path, :class=>"t_link" %></li>
<li class="t_bar"></li>

<li class="t_title notready">
<%= link_to	raw(t(:hot_deals, :scope=>[:view, :shared, :_nav_menu])), courses_path, :class=>"t_link" %></li>
</li>
<li class="t_bar"></li>

<li class="t_title notready">
<%= link_to	raw(t(:live_event, :scope=>[:view, :shared, :_nav_menu])), forums_path, :class=>"t_link" %></li>
<li class="t_bar"></li>

<li class="t_title notready">
<%= link_to raw(t(:expert_reply, :scope=>[:view, :shared, :_nav_menu])), blogs_path, :class=>"t_link" %></li>
<li class="t_bar"></li>
