<li class="t_title"><%= link_to '首页', courses_path, :class=>"t_link" %>
<li class="t_bar"></li>

<li class="t_title"><%= link_to	"论坛", forums_path, :class=>"t_link" %></li>
<li class="t_bar"></li>

<li class="t_title notready"><%= link_to	'聊天室', courses_path, :class=>"t_link" %></li>
<li class="t_bar"></li>

<li class="t_title notready"><a href="", class="t_link">热点促销</a></li>
<li class="t_bar"></li>

<li class="t_title notready"><%= link_to	"实时事件", forums_path, :class=>"t_link" %></li>
<li class="t_bar"></li>

<li class="t_title notready"><%= link_to '专家解答', blogs_path, :class=>"t_link" %></li>
<li class="t_bar"></li>
