<div class="login_panel">
  <%= link_to	"注册", new_user_registration_path %>
  |
  <%= link_to	"登录", new_user_session_path %>
  |
  <%= link_to	"客服", new_user_registration_path %>
  |	
  <%= link_to	"建议", new_user_registration_path %>
  |
  <%= link_to	"帮助", new_user_registration_path %>
</div> 

<% if user_signed_in?  %>
  <div id="headerMenu">
    <%= render  "/shared/nav_menu" %>
  </div>
<% end %>

