<%= link_to t(:new, :scope=>[:common]), new_admin_school_path, :class=>"miniBtn ml20 mt10" %>

<table>
  <tr>
    <th><%= t("ID") %></th>
    <th><%= t(".Name") %></th>
    <th><%= t(".CourseCategory") %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @admin_schools.each do |admin_school| %>
    <tr>
      <td><%= admin_school.id %></td>
      <td><%= admin_school.name %></td>
      <td>
        <% if admin_school.course_category %>
          <%= admin_school.course_category.name %>
        <% end %>
      </td>
      <td><%= link_to t('Show'), [:admin, admin_school] %></td>
      <td><%= link_to t('Edit'), edit_admin_school_path(admin_school) %></td>
      <td><%= link_to t('Delete'), [:admin, admin_school], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

