<%= button_to t(:new, :scope=>[:common]), new_admin_school_path, :method=>:get, :class=>"miniBtn left ml20 mt10" %>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Course category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @admin_schools.each do |admin_school| %>
    <tr>
      <td><%= admin_school.id %></td>
      <td><%= admin_school.name %></td>
      <td>
        <% if admin_school.course_category %>
          <%= admin_school.course_category.name %>
        <% end %>
      </td>
      <td><%= link_to 'Show', [:admin, admin_school] %></td>
      <td><%= link_to 'Edit', edit_admin_school_path(admin_school) %></td>
      <td><%= link_to 'Destroy', [:admin, admin_school], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

