<p id="notice"><%= notice %></p>

<p>
  <b><%= t(".Name") %></b>
  <%= @admin_school.name %>
</p>

<p>
  <b><%= t(".CourseCategory") %></b>
  <%= @admin_school.course_category_id %>
</p>


<%= link_to t('Edit'), edit_admin_school_path(@admin_school) %> |
<%= link_to t('Back'), admin_schools_path %>
