<div class="course_style">
  <div class="course_pic">
    <%= image_tag "course_tmp.png" %>
  </div>
  <div class="course_body">
    <div class="course_header">
      <span class="course_title" title="<%= course.name %>"><%= course.name %></span> 
      <span id="course_collect_<%= course.id %>" style="float:right;"> 
        <%= render  :partial=>"/courses/collect_link", :locals=>{:course=>course} %>
      </span>
    </div>

    <div class="col_riht_text">
      <ul>
        <li class="course_description">
        <%= raw(course.description) %>
        </li>
        <li class="course_info">
        <span> 等级：</span>
        <%= course.level.name %> 
        | 主题：
        <%= link_to course.subject.name, :controller=>:courses, :action=>:show_subject, :id=>course.subject.id %> 
        | 学校:
        <%= link_to course.school.name, :controller=>:courses,  :action=>:show_school,  :id=>course.school.id %>
        | 说金： 
        <%= course.gold %> <%= image_tag "ico_money.gif" %>
        </li>
        <li class="course_start">
        <%= link_to "开始课程", study_course_course_path(course), :class=>"f-button", :style=>"color:#FFFFFF" %>
        </li>
      </ul>
    </div>
  </div>
</div>
