<div class="course_style">
  <div class="course_pic">
    <%= image_tag "course_tmp.png" %>
  </div>
  <div class="course_body">
    <div class="course_header">
      <p>
      <span class="course_title" title="<%= course.name %>"><%= course.name %></span> 
      <span class="nonehui12 STYLE3" style="float:right;"> 
        <%= link_to "加入收藏", collect_course_path(course), :remote=>true, :method=>:post %>
      </span>
      </p>
    </div>

    <div class="col_riht_text">
      <ul>
        <li class="course_description">
        <%= course.description %>
        </li>
        <li class="course_info">
        <span> 等级：</span><%= course.level.name %> 
        | <span>类别：</span><%= course.category.name %> 
        | 主题：学习 
        | 说金： <a><%= course.gold %><%= image_tag "ico_money.gif" %>
        </li>
        <li class="course_start">
        <%= link_to "开始课程", study_course_course_path(course), :class=>"f-button", :style=>"color:#FFFFFF" %>
        </li>
      </ul>
    </div>
  </div>
</div>
