<%= form_for (@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="errorExplanation">
      <h2>一共有 <%= @course.errors.count %> 个错误:</h2>
      <ul>
        <% @course.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field  :couse_category_id,  :value=>@course_category.id %>

  <div class="field">
    <%= f.label "标题" %>
    <%= f.text_field :name, {:size=>50} %>
  </div>

  <div class="field">
    <%= f.label "介绍"  %>
    <%= f.text_area :description, {:rows=>6,:cols=>80} %>
  </div>

  <div class="field">
    <%= f.label "说金" %>
    <%= f.text_field :gold, {:size=>50}%>
  </div>

  <div class="field">
    <%= f.label "subject" %>
    <%= f.select('subject_id', options_from_collection_for_select(@subjects, 'id', 'name', @subject.id)) %>
  </div>

  <% unless @subject.name == "Uncategoried" -%>
    <div class="field">
      <%= f.label "school" %>
      <%= f.select('school_id', options_from_collection_for_select(@schools, 'id', 'name', @school.id)) %>
    </div>
  <% end -%>

  <% unless @school.name == "Uncategoried" -%>
    <div class="field">
      <%= f.label "级别" %>
      <%= f.select('level_id', options_from_collection_for_select(Level.all, 'id', 'name')) %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "提交", :class=>"submit_action" %>
  </div>
<% end %>
