<% content_for	:sidebar do %>
  <%= render	"courses_category" %>
<% end %>

<%= link_to "添加课程", new_course_path(:course_category_id=>@course_category.id, :subject_id=>@subject) %>

<div style="margin-left: 50px;">
  <h1><%= @subject.name %></h1>
  <% @schools.each do |s| %>
    <h3><%= s.name %></h3>
    <ul style="list-style: square inside none;margin-left: 15px;">
      <% Course.school_courses(s, @subject).each do |c| %>
        <li> 
        <%= link_to c.name, study_course_course_path(c) %>
        </li>
      <% end %>
    </ul>
  <% end %>  
</div>
