<% content_for	:sidebar do %>
  <%= render	"courses_category" %>
<% end %>

<h1><%= @school.name %></h1>

<div style="margin-left: 20px;">
  <div>
    <h3><%= t(:author, :scope=>[:view, :course, :_study_course]) %></h3>
    <%= @course.author.profile.name %>
  </div>

  <div>
    <h3><%= t(:description, :scope=>[:view, :course, :_study_course]) %></h3>
    <div style="margin-left: 50px;margin-right: 100px;">
      <%= raw(@course.description) %>
    </div>
  </div>
</div>
