<%= link_to t(:new, :scope=>[:common]), new_admin_user_path, :class=>"miniBtn ml20 mt10" %>

<table>
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Created at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @admin_users.each do |admin_user| %>
    <tr>
      <td><%= admin_user.id %></td>
      <td><%= admin_user.email %></td>
      <td><%= admin_user.created_at %></td>
      <td><%= link_to 'Show', [:admin, admin_user] %></td>
      <td><%= link_to 'Edit', edit_admin_user_path(admin_user) %></td>
      <td><%= link_to 'Destroy', [:admin, admin_user], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
