<%  @lectures.each do |lecture|  %>
<li class="lecture" display="none" id="lecture_<%= lecture.id %>">
<div class="post parent-post" style="padding: 0px 20px;min-height:30px;">
  <div class="info" id="info_<%= lecture.id %>" style="text-align:left;">
    <%= lecture.title %>
  </div>
  <div class="content" id="content_<%= lecture.id %>" style="display:none">
    <div><%= raw lecture.video_src %></div>
  </div>
  <div class="content" id="content_<%= lecture.id %>">
    <div><%= raw lecture.description %></div>
  </div>
</div>
</li>
<% end %>
