<%= form_for @profile do |f| %>
  <div class="field">
    <%= f.label "地址" %>
    <%= f.text_field  :address, :size=>80 %>
  </div>

  <div class="field">
    <%= f.label "移动电话"%>
    <%= f.text_field :mobile,:size=>50 %>
  </div>

  <div class="field">
    <%= f.label "家庭电话" %>
    <%= f.text_field :home_phone, :size=>50 %>
  </div>

  <%= f.submit %>
<% end %>

