<%= form_for @profile, :html => { :multipart => true } do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field  :name,:size=>50 %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address,:size=>50 %>
  </div>

  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>

  <%= f.submit %>
<% end %>


