<%= form_for @profile do |f| %>
  <%= f.error_messages %> 
  <div class="field">
    <%= f.label "水平"  %>
    <%= f.select :english_level, ["初级", "中级", "高级"] %>
  </div>

  <%= f.submit %>
<% end %>



