<% content_for :sidebar do %>
  <%= render	"/shared/application" %>
<% end %>

<script type="text/javascript">
  $(function() {
      $("#tabs").tabs();
      });
</script>


<div id="tabs">
  <ul>
    <li><a href="#tabs-base">基本信息</a></li>
    <li><a href="#tabs-level">英语水平</a></li>
    <li><a href="#tabs-contact">联系信息</a></li>
    <li><a href="#tabs-interesting">兴趣爱好</a></li>
    <li><a href="#tabs-education">教育信息</a></li>
    <li><a href="#tabs-work">工作信息</a></li>
  </ul>
  <div id="tabs-base">
    <%= render  "base_info" %>
  </div>
  <div id="tabs-level">
    <%= render  "level_info" %>
  </div>
  <div id="tabs-contact">
    <%= render  "contact_info" %>
  </div>
  <div id="tabs-interesting">
    <%= render  "interesting_info" %>
  </div>
  <div id="tabs-education">
    <%= render  "education_info" %>
  </div>
  <div id="tabs-work">
    <%= render  "work_info" %>
  </div>
</div>
