<% content_for :header do %>
  <%= stylesheet_link_tag	"sns" %>
<% end %>

<% content_for :nav_bar  do %>
  <%= link_to "首页", root_path %> >>
  <%= link_to @course.subject.name, admin_subject_path(@course.subject) %> >>
  <%= @course.name %>
<% end %>

<%= link_to "Show All", admin_subject_path(@course.subject) %> | 
<%= link_to "Edit", edit_admin_course_path(:id=>@course) %>

<h1 class="blue-title mt10">
  <%= @course.name %>
</h1>

<div id="course_show">
  <div class="col_riht_text">
    <ul>
      <li class="course_info">
      <span> 等级：</span><%= @course.level.name %> 
      | <span>类别：</span><%= @course.course_category.name %> 
      | 主题：
      <%= @course.subject.name %>
      | 说金： <%= @course.gold %> <%= image_tag "ico_money.gif" %>
      </li>
    </ul>
  </div>
</div>

<div>
  <h2 class="blue-title mt20"><%= t(".description") %></h2>
  <div class="box-full">
    <%= raw(@course.description) %>
  </div>
</div>

<ol id="comments">
  <%= render  :partial=>"comment", :collection=>@course.comments %>
</ol>

<h2 class="blue-title mt20">添加留言</h2>
<%= render  :partial=>"comment_form" %>

<script type="text/javascript" charset="utf-8">
  $(".info").click(function (event)
      {
      oid = "#" + event.target.id.replace('info', 'content');
      $(oid).slideToggle("slow"); 
      }
      );
  </script>
