<%= link_to t("New"), new_admin_course_category_path,  :class=>"miniBtn ml20 mt10" %>

<table>
  <tr>
    <th><%= t "ID" %></th>
    <th><%= t ".Name" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% indexNum = 0 
    @course_categories.each do |cc| %>
    <tr>
      <td>
        <%= indexNum %>
        <%  indexNum += 1  %>
      </td>
      <td>
        <%= cc.name %>  
      </td>
      <td>
        <%= link_to t("Show"), admin_course_category_path(cc) %>
      </td>
      <td>
        <%= link_to t("Edit"), edit_admin_course_category_path(cc) %>
      </td>
      <td>
        <%= link_to t("Delete"), admin_course_category_path(cc), :method=>:delete, :confirm=>"Are you sure to delete #{cc.name}" %>
      </td>
    </tr>
  <% end %>
</table>

