<% content_for :nav_bar  do %>
  <%= link_to "首页", root_path %> >>
  <%= @course_category.name %>
<% end %>

<%= link_to t("New"), new_admin_subject_path(:category_id=>@course_category), :method=>:get %>

<table>
  <tr>
    <th><%= t "ID" %></th>
    <th><%= t ".Name" %></th>
    <th><%= t ".Parent" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% indexNum = 0 
  @subjects.each do |admin_subject| %>
    <tr>
      <td><%= indexNum %>
        <% indexNum += 1  %></td>
      <td><%= admin_subject.name %></td>
      <td><%= admin_subject.parent_id %></td>

      <td><%= link_to t('Show'), [:admin, admin_subject] %></td>
      <td><%= link_to t('Edit'), edit_admin_subject_path(admin_subject) %></td>
      <td><%= link_to t('Delete'), [:admin, admin_subject], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<%= link_to t('Back'), admin_course_categories_path() %>
