<% content_for :nav_bar  do %>
  <%= link_to "首页", root_path %> >>
  <%= @course_category.name %>
<% end %>

<%= link_to t("New"), new_admin_subject_path(:category_id=>@course_category), :method=>:get %>

<table>
  <tr>
    <th><%= t "ID" %></th>
    <th><%= t ".Name" %></th>
    <th>课程数</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% parentNum = 1 %>
  <% @subjects.each do |admin_subject| %>
    <tr>
      <td><%= parentNum %></td>
      <td><%= admin_subject.name %></td>
      <td><%= admin_subject.courses.count %></td>
      <td><%= link_to t('Show'), [:admin, admin_subject] %></td>
      <td><%= link_to t('Edit'), edit_admin_subject_path(admin_subject) %></td>
      <td><%= link_to t('Delete'), [:admin, admin_subject], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>

    <% childNum = 1 %>
    <% admin_subject.children.each do |child| %>
      <tr>
        <td>
          <span style="margin-left: 30px;">
            <%= "#{parentNum}.#{childNum}" %>
            <% childNum += 1  %>
          </span>
        </td>
        <td>
          <span style="margin-left: 30px;">
            <%= child.name %>
          </span>
        </td>

        <td><%= link_to t('Show'), [:admin, child] %></td>
        <td><%= link_to t('Edit'), edit_admin_subject_path(child) %></td>
        <td><%= link_to t('Delete'), [:admin, child], :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
    <% parentNum += 1  %>
  <% end %>
</table>

<%= link_to t('Back'), admin_course_categories_path() %>
