<!DOCTYPE html>
<html>
  <head>
    <title><%= t(:title, :scope=>[:view, :layout, :application]) %></title>
    <%= stylesheet_link_tag 'reset', 'main', 'form','header','courses','forum', 'smoothness/jquery-ui-1.8.5.custom',:cache=>true %>
    <%= javascript_include_tag "jquery-1.4.2.min","rails","jquery-ui-1.8.5.custom.min","application" %>
    <%= csrf_meta_tag %>
    <%= yield :header %>

  </head>
  <body>
    <div id="divHeader">
      <%= render  "/shared/header" %>
    </div>

    <div id="divall">
      <div id="sidebar_application">
        <%= yield :sidebar %>
        -->
        <%= render  "/people/personal_setting" -%>
        <%= render  "/shared/application" -%>
        <%= render  "/shared/admin_panel" -%>
      </div>

      <div id="main" style="width:842px;margin-left:-3px;">
        <%= flash[:notice] %>
        <%= flash[:error] %>
        <%= yield %>
      </div>
    </div>

    <div id="footer">
      <%= render  "shared/footer" %>
      <%= yield :footer %>
      <script src="http://dict.cn/hc/" type="text/javascript"></script>
    </div>
  </body>
</html>
