<!DOCTYPE html>
<html>
  <head>
    <title><%= t(:title, :scope=>[:view, :layout, :application]) %></title>
    <%= stylesheet_link_tag 'reset', 'main', 'form','header','courses','forum', 'smoothness/jquery-ui-1.8.5.custom' %>
    <%= javascript_include_tag "jquery-1.4.2.min","rails","jquery-ui-1.8.5.custom.min","application" %>
    <%= csrf_meta_tag %>
    <%= yield :header %>
  </head>
  <body>
    <div id="divHeader">
      <%= render  "/shared/header" %>
    </div>

    <div id="divall">
      <div id="sidebar">
        <%= render_cell :course,  :courses_category %>
      </div>

      <div id="main" style="width:775px;margin-left:-3px;">
        <%= flash[:notice] %>
        <%= flash[:error] %>
        <h3 class="blue-title"><%= yield :nav_bar %></h3>
        <%= yield %>
      </div>
    </div>

    <div id="footer" style="border:none;">
      <%= render  "shared/footer" %>
      <%= yield :footer %>
      <script src="http://dict.cn/hc/" type="text/javascript"></script>
    </div>
  </body>
</html>
