<!DOCTYPE html>
<html>
  <head>
    <title>MEET-属于你的精英教育</title>
    <%= stylesheet_link_tag 'reset', 'main', 'form','header','courses','forum', 'smoothness/jquery-ui-1.8.5.custom' %>
    <%= javascript_include_tag "jquery-1.4.2.min","rails","jquery-ui-1.8.5.custom.min","application","jquery.jwplayer" %>
    <%= csrf_meta_tag %>
    <%= yield :header %>
  </head>
  <body>
    <div id="divHeader">
      <%= render  "/shared/header" %>
    </div>

    <div id="divall">
      <div id="sidebar">
        <div class="m1t"></div>
        <%= yield :sidebar %>
      </div>

      <div id="main" style="width:775px;margin-left:-3px;">
        <%= yield %>
      </div>
    </div>

    <div id="footer" style="border:none;">
      <%= render  "shared/footer" %>
    </div>
  </body>
</html>
