<div id="sidebar">
  <div class="m1t"></div>
  <div class="logindiv">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div>
        <%= f.label "email", :class=>"tar left", :style=>"width:55px;margin-top:35px;" %>
        <%= f.text_field :email, :class=>"left mt30 mb10", :size=>22 %>
      </div>

      <div>
        <%= f.label "password", :class=>"tar left", :style=>"width:55px;margin-top:5px;" %>
        <%= f.password_field :password, :style=>"margin-top:5px", :size=>22 %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div style="clear:both;margin-left:55px;">
          <%= f.check_box :remember_me, :class=>"left" %>  
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="field" style="clear:both;margin-left:55px;">
        <%= f.submit "登录" %> 
      </div>
    <% end %>

    <div style="background:url(http://img1.kaixin001.com.cn/i/index_app.gif) 
      repeat-x;width:190px;margin:20px auto 15px 7px;height:2px;"></div>

    <div class="field" style="margin-left:30px">
      尚未开通MEET账户?	
    </div>
    <div class="field" style="margin-left:30px">
      <%= link_to	"立即注册", new_user_registration_path %>
    </div>
  </div>
</div>

<div class="center" style="margin-left:300px;" >

  <h2>注册</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="field">
      <%= f.label "电邮" %>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label "密码" %>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label "密码验证" %>
      <%= f.password_field :password_confirmation %>
    </div>

    <%= f.submit "Sign up" %>
  <% end %>

</div>

