<h2>注册</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
	<div class="field">
		<%= f.label "电邮" %>
		<%= f.text_field :email %>
	</div>

<div class="field">
  <%= f.label "密码" %>
  <%= f.password_field :password %>
</div>

<div class="field">
  <%= f.label "密码验证" %>
  <%= f.password_field :password_confirmation %>
</div>

  <%= f.submit "Sign up" %>
<% end %>

<%= render :partial => "devise/shared/links" %>
